<h2> Iniciar sesion</h2>
<form [formGroup]="form" (submit)="login()">
    <div>
        <input type="email" placeholder="Email" formControlName="email">
    </div>
    <div>
        <input [type]="inputType" placeholder="Password" id="Contraseña" formControlName="password">
        <button type="button" (click)="togglePasswordView()">Ver</button>
    </div>
    <button [disabled]="form.invalid">Iniciar Sesion</button>
</form>

<p> O inicia sesión con tu cuenta de</p>
<button (click)="googleLogin()">Google</button>